@charset "UTF-8";
ul, ol, li {
  list-style: none; }

.left {
  float: left; }

.right {
  float: right; }

.t-center {
  text-align: center; }

.t-left {
  text-align: left; }

.t-right {
  text-align: right; }

.clear-fix:after, .clear-fix:before, .clear-fix::after, .clear-fix::before {
  content: ".";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both; }

.p-sm {
  padding: 5px !important; }

.m-top {
  margin-top: 5px !important; }

.m-bottom {
  margin-bottom: 5px !important; }

.margin-span_child > span {
  margin-right: 5px; }

.circle-btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 10px;
  background-color: #0062cc;
  color: #ffffff; }

.ui-page-login,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px; }

.mui-content {
  height: 100%; }

.area {
  margin: 20px auto 0px auto; }

.mui-input-group:first-child {
  margin-top: 20px; }

.mui-input-group label {
  width: 22%; }

.mui-input-row label ~ input,
.mui-input-row label ~ select,
.mui-input-row label ~ textarea {
  width: 78%; }

.mui-checkbox input[type=checkbox],
.mui-radio input[type=radio] {
  top: 6px; }

.mui-content-padded {
  margin-top: 25px; }

.mui-btn {
  padding: 10px; }

.mui-card .mui-control-content {
  padding: 10px; }

.mui-control-content {
  height: 150px; }

.product-list > img {
  width: 100%;
  height: auto; }

.try-comment {
  padding: 0.16rem;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px; }
  .try-comment:after, .try-comment:before, .try-comment::after, .try-comment::before {
    content: ".";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both; }
  .try-comment .praise-btn span {
    padding: 0.1rem 0.2rem;
    background-color: #EBF4FB;
    color: #4686D2;
    display: block;
    border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
    .try-comment .praise-btn span:first-child {
      margin-bottom: 0.05rem; }
  .try-comment .observer {
    display: flex;
    justify-content: space-between; }
    .try-comment .observer span:first-child {
      color: #555555; }
    .try-comment .observer span:last-child {
      color: #B0B0B0; }
  .try-comment .comment-title:after, .try-comment .comment-title:before, .try-comment .comment-title::after, .try-comment .comment-title::before {
    content: ".";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both; }
  .try-comment .comment-content {
    width: calc(100% - 2rem); }
  .try-comment .comment-content-text {
    padding: 5px;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    border-radius: 5px; }
  .try-comment .reply {
    margin-top: 0.05rem;
    text-align: right; }
    .try-comment .reply span {
      margin-left: 0.1rem; }
  .try-comment .comment-child {
    padding-left: 1rem; }
    .try-comment .comment-child li {
      margin-top: 10px; }
      .try-comment .comment-child li:after, .try-comment .comment-child li:before, .try-comment .comment-child li::after, .try-comment .comment-child li::before {
        content: ".";
        height: 0;
        visibility: hidden;
        display: block;
        clear: both; }

.edit-btn button {
  width: 100%; }

/**
 * 选择列表插件
 * varstion 2.0.0
 * by Houfeng
 * Houfeng@DCloud.io
 */
.mui-picker {
  background-color: #ddd;
  position: relative;
  height: 200px;
  overflow: hidden;
  border: solid 1px rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
  user-select: none;
  box-sizing: border-box; }

.mui-picker-inner {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-mask-box-image: -webkit-linear-gradient(bottom, transparent, transparent 5%, #fff 20%, #fff 80%, transparent 95%, transparent);
  -webkit-mask-box-image: linear-gradient(top, transparent, transparent 5%, #fff 20%, #fff 80%, transparent 95%, transparent); }

.mui-pciker-list,
.mui-pciker-rule {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 36px;
  line-height: 36px;
  position: absolute;
  left: 0px;
  top: 50%;
  margin-top: -18px; }

.mui-pciker-rule-bg {
  z-index: 0;
  /*background-color: #cfd5da;*/ }

.mui-pciker-rule-ft {
  z-index: 2;
  border-top: solid 1px rgba(0, 0, 0, 0.1);
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  /*-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);*/
  /*box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);*/ }

.mui-pciker-list {
  z-index: 1;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: perspective(1000px) rotateY(0deg) rotateX(0deg);
  transform: perspective(1000px) rotateY(0deg) rotateX(0deg); }

.mui-pciker-list li {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  color: #888;
  padding: 0px 8px;
  white-space: nowrap;
  -webkit-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: default;
  visibility: hidden; }

.mui-pciker-list li.highlight,
.mui-pciker-list li.visible {
  visibility: visible; }

.mui-pciker-list li.highlight {
  color: #222; }

.mui-poppicker {
  position: fixed;
  left: 0px;
  width: 100%;
  z-index: 999;
  background-color: #eee;
  border-top: solid 1px #ccc;
  box-shadow: 0px -5px 7px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s;
  bottom: 0px;
  -webkit-transform: translateY(300px); }

.mui-poppicker.mui-active {
  -webkit-transform: translateY(0px); }

.mui-android-5-1 .mui-poppicker {
  bottom: -300px;
  -webkit-transition-property: bottom;
  -webkit-transform: none; }

.mui-android-5-1 .mui-poppicker.mui-active {
  bottom: 0px;
  -webkit-transition-property: bottom;
  -webkit-transform: none; }

.mui-poppicker-header {
  padding: 6px;
  font-size: 14px;
  color: #888; }

.mui-poppicker-header .mui-btn {
  font-size: 12px;
  padding: 5px 10px; }

.mui-poppicker-btn-cancel {
  float: left; }

.mui-poppicker-btn-ok {
  float: right; }

.mui-poppicker-clear {
  clear: both;
  height: 0px;
  line-height: 0px;
  font-size: 0px;
  overflow: hidden; }

.mui-poppicker-body {
  position: relative;
  width: 100%;
  height: 200px;
  border-top: solid 1px #ddd;
  /*-webkit-perspective: 1200px;
  perspective: 1200px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;*/ }

.mui-poppicker-body .mui-picker {
  width: 100%;
  height: 100%;
  margin: 0px;
  border: none;
  float: left; }

.plate-box {
  height: 300px; }
  .plate-box:after, .plate-box:before, .plate-box::after, .plate-box::before {
    content: ".";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both; }
  .plate-box .plate-container {
    float: left;
    width: 33.33333%;
    height: 100%; }
    .plate-box .plate-container:nth-child(1) .plate-content, .plate-box .plate-container:nth-child(3) .plate-content {
      height: 75px; }
    .plate-box .plate-container:nth-child(2) .plate-content {
      height: 100px; }
  .plate-box .plate-content {
    border: 1px solid #656565;
    padding: 5px; }
    .plate-box .plate-content span {
      font-size: 10px; }

.plate-edit_btn {
  text-align: center;
  margin-top: 5px; }
  .plate-edit_btn > span {
    display: inline-block;
    padding: 3px;
    background-color: #007aff;
    margin-right: 2px;
    color: #ffffff;
    border-radius: 2px; }

.plate-show {
  border: 1px solid #333333;
  padding: 5px;
  height: 170px;
  overflow-y: auto;
  margin-bottom: 45px; }

.team-type_btn {
  margin-top: 20px;
  padding: 5px;
  background-color: #007aff; }
  .team-type_btn > span {
    margin-right: 15px;
    font-size: 20px;
    color: #ffffff; }

.file-show {
  height: 400px;
  overflow: auto;
  border: 1px solid #e6e6e6; }

/*# sourceMappingURL=init.css.map */
