<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>创建画布</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="../mui.min.css">
    <link rel="stylesheet" href="../init.css">
</head>

<body>
<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">柿子</h1>
</header>
<div class="mui-content">
    <div style="padding: 10px 10px;">
        <div id="segmentedControl" class="mui-segmented-control">
            <a class="mui-control-item" href="#item1">试一试</a>
            <a class="mui-control-item mui-active" href="#item2">应用</a>
            <a class="mui-control-item" href="#item3">任务</a>
            <a class="mui-control-item" href="#item4">我</a>
        </div>
        <div class="mui-row edit-btn" style="margin-top: 5px;">
            <div class="mui-col-sm-3 mui-col-xs-3 p-sm"><button type="button" class="mui-btn mui-btn-success">编辑</button></div>
            <div class="mui-col-sm-3 mui-col-xs-3 p-sm"><button type="button" class="mui-btn-warning mui-btn">保存</button></div>
            <div class="mui-col-sm-3 mui-col-xs-3 p-sm"><button type="button" class="mui-btn-danger mui-btn">发布</button></div>
            <div class="mui-col-sm-3 mui-col-xs-3 p-sm"><button type="button" class="mui-btn-royal mui-btn">导出</button></div>
        </div>
        <div class="plate-box">
            <div class="plate-container">
                <div class="plate-content">
                    <span>合作方及合作方式</span>
                    <div>1</div>
                </div>
                <div class="plate-content">
                    <span>核心资源</span>
                    <div>2</div>
                </div>
                <div class="plate-content">
                    <span>主要功能</span>
                    <div>3</div>
                </div>
                <div class="plate-content">
                    <span>成本结构</span>
                    <div>4</div>
                </div>
            </div>
            <div class="plate-container">
                <div class="plate-content">
                    <span>价值主张</span>
                    <div>5</div>
                </div>
                <div class="plate-content">
                    <span>主要度量指标</span>
                    <div>6</div>
                </div>
                <div class="plate-content">
                    <span>项目门槛</span>
                    <div>7</div>
                </div>
            </div>
            <div class="plate-container">
                <div class="plate-content">
                    <span>用户痛点</span>
                    <div>8</div>
                </div>
                <div class="plate-content">
                    <span>做过哪些产品探索性实验</span>
                    <div>9</div>
                </div>
                <div class="plate-content">
                    <span>天使用户定义和渠道</span>
                    <div>10</div>
                </div>
                <div class="plate-content">
                    <span>收益分析</span>
                    <div>11</div>
                </div>
            </div>
        </div>
        <div class="plate-edit_btn">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>5</span>
            <span>6</span>
            <span>7</span>
            <span>8</span>
            <span>9</span>
            <span>10</span>
            <span>11</span>
        </div>
        <div>
            <h3>示例:</h3>
        </div>
        <div class="plate-show">
            <h3>合作及合作方式</h3>
            <div>
                每一个板块是一个画布内容，编辑过的文字可以在相应的版块显示，支持编辑（点击对应版块的数字按钮，在下方编辑按钮进行编辑，可以在相应版块展示编辑内容，点击编辑也是修改功能）、保存（缓存在本地系统，支持用户进行编辑）、发布（发布的创业画布为PDF格式，展示窗口为九宫格部分）、导出（可以保存成PDF格式，导出为类似分享的功能，可以发送给微信，邮件等
            </div>
        </div>
    </div>
    <nav class="mui-bar mui-bar-tab">
        <input type="text" class="mui-input-clear" placeholder="编辑" style="margin-bottom: 0;height: 50px;">
    </nav>
</div>
<script src="../js/mui.min.js"></script>
</body>

</html>
