<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>文件夹上传</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="../mui.min.css">
    <link rel="stylesheet" href="../init.css">
    <link rel="stylesheet" href="../mui.picker.min.css">
</head>

<body>
<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">组队</h1>
</header>
<div class="mui-content">
    <div style="padding: 10px 10px;">
        <div id="segmentedControl" class="mui-segmented-control">
            <a class="mui-control-item" href="#item1">试一试</a>
            <a class="mui-control-item mui-active" href="#item2">应用</a>
            <a class="mui-control-item" href="#item3">任务</a>
            <a class="mui-control-item" href="#item4">我</a>
        </div>
    </div>
    <div class="mui-content-padded" style="margin: 5px">
        <button type="button" class="mui-btn mui-btn-success mui-icon mui-icon-plus">上传文件夹</button>
        <ul class="mui-table-view m-top">
            <li class="mui-table-view-cell">设计稿</li>
            <li class="mui-table-view-cell">策划书</li>
        </ul>
    </div>

</div>
<script src="../js/mui.min.js"></script>
</body>

</html>
