<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>任务参与</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="../mui.min.css">
    <link rel="stylesheet" href="../init.css">
    <link rel="stylesheet" href="../mui.picker.min.css">
</head>

<body>
<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">组队</h1>
</header>
<div class="mui-content">
    <div style="padding: 10px 10px;">
        <div id="segmentedControl" class="mui-segmented-control">
            <a class="mui-control-item" href="#item1">试一试</a>
            <a class="mui-control-item" href="#item2">应用</a>
            <a class="mui-control-item mui-active" href="#item3">任务</a>
            <a class="mui-control-item" href="#item4">我</a>
        </div>
    </div>
    <div class="mui-content-padded" style="margin: 5px">
       <div class="file-show">
           <div>1231231231</div>
       </div>
    </div>
    <div>
        <div class="mui-btn mui-btn-primary m-top m-bottom">
            我要参与
        </div>
    </div>
    <section class="try-comment" style="padding-bottom: 60px;">
        <div class="comment-box">
            <header class="comment-title">
                <div class="praise-btn left">
                    <span class="praise-up"><i></i>34</span>
                    <span class="praise-down"><i></i></span>
                </div>
                <div class="comment-content right">
                    <div class="observer">
                        <span>与小二</span>
                        <span>16/2/22&nbsp;&nbsp;15:30</span>
                    </div>
                    <div class="comment-content-text">
                        评论内容
                    </div>
                </div>
            </header>
            <div class="reply">
                <span>回复</span>
                <span>50条评论</span>
                <span>展开</span>
            </div>
            <ul class="comment-child">
                <li>
                    <div class="comment-content right">
                        <div class="observer">
                            <span>与小二</span>
                            <span>16/2/22&nbsp;&nbsp;15:30</span>
                        </div>
                        <div class="comment-content-text">
                            评论内容
                        </div>
                    </div>
                </li>
                <li>
                    <div class="comment-content right">
                        <div class="observer">
                            <span>与小二</span>
                            <span>16/2/22&nbsp;&nbsp;15:30</span>
                        </div>
                        <div class="comment-content-text">
                            评论内容
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <nav class="mui-bar mui-bar-tab">
        <input type="text" class="mui-input-clear" placeholder="我的评论" style="margin-bottom: 0;height: 50px;">
    </nav>

</div>
<script src="../js/mui.min.js"></script>
</body>

</html>
