<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>任务九宫格</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="../mui.min.css">
    <link rel="stylesheet" href="../init.css">
    <link rel="stylesheet" href="../mui.picker.min.css">
</head>

<body>
<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">组队</h1>
</header>
<div class="mui-content">
    <div style="padding: 10px 10px;">
        <div id="segmentedControl" class="mui-segmented-control">
            <a class="mui-control-item" href="#item1">试一试</a>
            <a class="mui-control-item" href="#item2">应用</a>
            <a class="mui-control-item mui-active" href="#item3">任务</a>
            <a class="mui-control-item" href="#item4">我</a>
        </div>
    </div>
    <div class="mui-content-padded" style="margin: 5px">
        <div class="clear-fix m-top  m-bottom">
            <h4 class="left">新的任务</h4>
            <div class="mui-btn mui-btn-primary right m-top">
                换一组
            </div>
        </div>
        <div style="padding: 10px; border: 1px solid #e6e6e6;">
            <ul class="mui-table-view mui-grid-view mui-grid-9">
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4 p-sm">
                    <div class="mui-media-body">1</div></li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4 p-sm">
                    <div class="mui-media-body">2</div></li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4 p-sm">
                    <div class="mui-media-body">3</div></li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4 p-sm">
                    <div class="mui-media-body">4</div></li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4 p-sm">
                    <div class="mui-media-body">5</div></li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4 p-sm">
                    <div class="mui-media-body">6</div></li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4 p-sm">
                    <div class="mui-media-body">7</div></li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4 p-sm">
                    <div class="mui-media-body">8</div></li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4 p-sm">
                    <div class="mui-media-body">9</div></li>
            </ul>
        </div>
        <div class="m-top m-bottom">
            <h4>进行中的任务</h4>
        </div>
        <div class="clear-fix m-top">
            <div class="mui-col-xs-6 mui-col-sm-6 left">
                111
            </div>
            <div class="mui-col-xs-6 mui-col-sm-6 left">
                <span>师兄的衣柜新生季营销活动推广设计</span>
            </div>
        </div>
    </div>

</div>
<script src="../js/mui.min.js"></script>
</body>

</html>
