<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>小组首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="../mui.min.css">
    <link rel="stylesheet" href="../init.css">
    <link rel="stylesheet" href="../mui.picker.min.css">
</head>

<body>
<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">组队</h1>
</header>
<div class="mui-content">
    <div style="padding: 10px 10px;">
        <div id="segmentedControl" class="mui-segmented-control">
            <a class="mui-control-item" href="#item1">试一试</a>
            <a class="mui-control-item mui-active" href="#item2">应用</a>
            <a class="mui-control-item" href="#item3">任务</a>
            <a class="mui-control-item" href="#item4">我</a>
        </div>
    </div>
    <div class="mui-content-padded" style="margin: 5px">
        <div class="t-center clear-fix">
            <h3 style="display: inline-block">刺客C7小组</h3>
            <div class="mui-btn mui-btn-primary right m-top">
                删除
            </div>
            <div>
                <span>< 开始组队 ></span>
            </div>
        </div>
        <div class="margin-span_child">
            <span class="circle-btn">小二</span>
            <span class="circle-btn">+</span>
        </div>
        <div class="t-center team-type_btn">
            <span class="mui-btn mui-btn-outlined">任务</span>
            <span class="mui-btn mui-btn-outlined">文件</span>
            <span class="mui-btn mui-btn-outlined">日程</span>
        </div>
        <div class="clear-fix m-top">
            <h4 class="left">最近动态</h4>
            <h4 class="right">今日/本周/全部</h4>
        </div>
        <div style="border: 1px solid #333333;">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell">Item 1 <span class="mui-badge mui-badge-primary">7/4 13:30</span></li>
                <li class="mui-table-view-cell">Item 2 <span class="mui-badge mui-badge-success">7/4 13:30</span></li>
                <li class="mui-table-view-cell">Item 3 <span class="mui-badge">7/4 13:30</span></li>
            </ul>
        </div>
        <div class="clear-fix m-top  m-bottom">
            <h3 class="left">群通知</h3>
            <div class="mui-btn mui-btn-primary right m-top">
                编辑
            </div>
        </div>
        <div style="border: 1px solid #333333;">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell">Item 1 <span class="mui-badge mui-badge-primary">7/4 13:30</span></li>
                <li class="mui-table-view-cell">Item 2 <span class="mui-badge mui-badge-success">7/4 13:30</span></li>
                <li class="mui-table-view-cell">Item 3 <span class="mui-badge">7/4 13:30</span></li>
            </ul>
        </div>
        <div class="clear-fix m-top">
            <h3 class="left">历史消息</h3>
        </div>
        <div style="border: 1px solid #333333;">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell">Item 1 <span class="mui-badge mui-badge-primary">7/4 13:30</span></li>
                <li class="mui-table-view-cell">Item 2 <span class="mui-badge mui-badge-success">7/4 13:30</span></li>
                <li class="mui-table-view-cell">Item 3 <span class="mui-badge">7/4 13:30</span></li>
            </ul>
        </div>
    </div>

</div>
<script src="../js/mui.min.js"></script>
</body>

</html>
